.header-inner-circle-heading {
  font-family: Mulish;
  font-size: 82px;
  font-weight: 800;
  line-height: 95.12px;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-inner-circle-text {
  animation: fadeInUp 1s ease-in-out;
}


